/* general */

body {
    background: #fff;
    color: black;
    font-family: sans-serif;
    margin:0;
}

a {
    color: black;
    text-decoration : none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

/* Icons */

ul.icons li {
    text-align: center;
    width:25%;
    padding: 1em 0;
    transition:all .2s;
    position: relative;
}

ul.icons img{
    height: 64px;
    width: 64px;
}

ul.icons div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5em;
}
a.close {
    background:black;
    border:solid white 3px;
    border-radius: 16px;
    width:16px;
    height: 16px;
    font-size:12px;
    line-height:16px;
    display:block;
    color:white;
    text-align: center;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    top:6px;
    right:6px;
}
 a.close:after {
    content:'✖';
}
.empty {
    font-size:150px;
    text-align:center;
    color: rgba(0, 0, 0, .1);
}

/* header */

header {
    position:fixed;
    top:0;
    height:44px;
    width: 100%;
    background:rgba(0,0,0,.5);
    z-index:2;
}

body {
    margin-top: 44px;
}
header input {
    border:none;
    background:transparent;
    color:white;
    height: 2em;
    font-size:100%;
    height:32px;
    margin:0;
    padding:6px;
    padding-left:16px;
}

 .btn {
    background:rgba(0,0,0,.5);
    color:white;
    height:44px;
    line-height:44px;
    margin:0;
    border:none;
    display: inline-block;
    font-size:100%;
    padding:0 16px;
    cursor:pointer;
}
header .btn {
    float:right;
    background: none;
}

/* menu */

.menu {
    display:none;
    background: white;
    position:fixed;
    right:10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    font-size: 16px;
    z-index:1;
}
.menu:target {
    display:inline-block;
}

.menu li {
    display:block;
    line-height:30px;
    padding:.5em;
}
.menu li:hover {
    background-color: rgba(0,0,0,.1)
}
.menu input {
    float:right;
    margin:5px 10px;
}

